

.slide{
    height: 25rem;
    width: 25rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.5);
    position: relative;
    z-index: 0;
    transition: all 0.5s ease-in-out;
    
}
.slide img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.main-slide{
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}
.main-slide:hover{
    transform: scale(1.2);
}

.left-slide {
    transform: left scale(1.0) skewY(-1deg);
    z-index: 1;
}
.right-slide {
    transform: right scale(1.0) skewY(1deg);
    z-index: 1;
}
.left-slide img, .right-slide img{
    filter: grayscale(80);
}


.slider-btns{
    display: flex;
    position: absolute;
    justify-content:space-between ;
    border: 1px solid white;
    width: 100%;
}
.carousel__btn {
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border:1px solid currentColor;
    color: #fff;
    cursor: pointer;
}
.carousel__btn svg {
    height: 2rem;
    width: 2rem;
    margin: auto;
}
.carousel__btn:hover {
    color: #aaa;
}