@tailwind base;
@tailwind component;
@tailwind utilities;

*{
    --logo-red-color: #88171f;
    ---color: #9d838575;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: #a6184c29;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);        
    /* border-radius: 30px; */
    padding:1px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 30px;
    width: 5px;
    margin-inline: 2px;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #fff4f8;
}